.event_participants{
    border-right: thin solid $secondary;
    padding: 1em;
}


.chat_window{
    width: 100%;
    display: flex;
    flex-direction: column;

    .chat_log{
        flex-grow: 2;
        overflow-y: scroll;
        max-height: 50vh;
        height: 100%;
        .user_chat{
            display: flex;
            flex-direction: column;
            background-color: $secondary;
            padding: .5em;
            margin-bottom: .5em;
            &_msg{
                display: flex;
                flex-direction: column;

                &_time{
                    font-size: small;
                }
            }
        }
    }

    .chat_msg{
        display: flex;
        align-items: stretch;

        input{
            flex-grow: 1;
        }
    }
}