.button{

    height: 60%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid white;
    border-radius: 15px;
    overflow: hidden;
    a{
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $tertiary;
        height: 100%;
        width: 100%;
        // transition: all 250ms ease-in;
    
        // &:hover{
        //     background-color: $tertiary;
        //     text-shadow: black 2px 2px;
        // }
    }
}
