.calendar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title{
        margin: 1em 0;
    }

    .calendar_meetings{
        width: 100%;
        height: 35%;
        .form_input{
            display: flex;
            justify-content: center;
            height: 90%;
            form{
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                label{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}