.search_input{
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown_filter{
    width: 100%;

    &.filter_close{
        height: 0;
        overflow: hidden;
    }

    .select_dropdown{
        width: 75%;
        margin: .4em auto;
    }
}
