// Color variable. Change these to change the color scheme of the entire project
// $primary: #F98C56;
$primary: #F98D56;
$secondary: #00C2BC;
$tertiary: #0D6FA5;

$favourite: #FFD600;

@import './stylesheet/typography';

@import './components/Header/header';
@import './components//Navigation//navigation';
@import './components//Company/companyListComponent';
@import './components/Calendar//calendar';
@import './components/Icons/icons';
@import './components/Cards/eventcard';
@import './components/Button/button';
@import './components/Calendar/main';
@import './components/Modal/modal';
@import './components/FilterSection/filter';

@import './components/Chat/chatComponent';

@import './pages/single_event';
@import './pages/companyinfo';

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 7vh;
    .App{
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        display: flex;
        .content{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .notfound{
            span{
                color: red;
            }
        }
    }

}    
